:root{
    --main-blue:#4880FF;
}

html{
    scroll-behavior: smooth;
    min-height: 100%;
}

body{
    font-family: sans-serif;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

body > *{
    flex: 0 0 auto;
}

main{
    padding: 0 30% 0 30%;
    text-align: center;
}

.page-hidden{
    visibility: hidden;
}

.page{
    visibility: visible;
}

header{
    display: flex;
    justify-content: space-between;
}

header a{
    color: var(--main-blue);
    text-decoration: none;
}

/* Starting page stylings start */

button{
    background-color:var(--main-blue);
    color: white;
    border-radius: 5px;
    opacity: 50%;
    padding: 0.5rem;
}

button:hover{
    opacity: 1;
}

/* End starter page stylings */